<!-- <p>
  quote works!
</p> -->
<div clss="mm">
<div class="container">
    <div class="row">
        <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
    </div>
</div>
<div class="container" text-align:center>
<ul>
    <div class="row" *ngFor='let quote of quotes, let i=index'>
      <div class="row">


    <li>{{quote.name}}</li>
    
    <button  class="btn btn-primary" (click)='toogleDetals(i)'>Show Details</button><br><br><br>
      </div>

      <div class="row" *ngIf="quote.showDescription">
    <app-quote-detals  [quote]='quote' (isComplete)= 'completeQuote($event,i)'></app-quote-detals>
    </div>
   
  </div>
  </ul>
  </div>
  </div>