
  <div class="vote">
  <div class="container-fluid" >
    <div class="row">
        <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
            <div class="form-group">

                <label for="name">Enter quote text</label>
                <textarea class="form-control" id="name"  [(ngModel)]="newQuote.name" name="name" #name="ngModel" rows="4" required ></textarea>
                
                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                    <p> Name is Required</p>
                    
                </div>
            </div>

            <div class="form-group">

                <label for="author"> Enter Author name</label>
                <input type="text" required class="form-control" id="author" [(ngModel)]="newQuote.author" name="author" #author="ngModel" >

                <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
                    <p> Author is Required</p>
                    
                </div>
            </div>
            <div class="form-group">

                <label for="submitted">Enter poster name</label>
                <input type="text" required class="form-control" id="submitted" [(ngModel)]="newQuote.submitted" name="submitted" #submitted="ngModel"  >
                 
                <div [hidden]="submitted.valid || submitted.pristine" class="alert alert-danger">
                    <p> Submitted is Required</p>
                    
                </div>
            </div>
            
            <div class="form-group">
                <label for="complete">Enter creation date</label>
                <input type='date' id="complete" [(ngModel)]="newQuote.completeDate" name="completeDate" #completeDate="ngModel" required>
               
                <div [hidden]="completeDate.valid || completeDate.pristine" class="alert alert-danger">
                    <p> Creation Date is Required</p>
                    
                </div>
            </div>
            <button type="Submit" class="btn btn-success btn-lg">Add Quote</button>
        </form>
    </div>
</div>
</div>
